<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Blog Section</title>
    <link rel="stylesheet" href="/css/blogs.css">

    <!--Poppins font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap"
        rel="stylesheet">
</head>

<body>

    <!--header-->
    <header>
        <div class="navigation-container">
            <div class="top-head">
                <div class="web-name">
                    <h1>TECHUPDATE</h1>
                </div>

                <div class="ham-btn">
                    <span>
                        <i class="fas fa-bars"></i>
                    </span>
                </div>

                <div class="times-btn">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                </div>
            </div>


            <!--nav bar-->

            <div class="nav-bar" id="nav-bar">
                <nav>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li><a href="/currentNews">current news</a></li>
                        <li><a href="/Blogs">Blogs</a></li>
                        <li><a href="#">catagory</a></li>
                    </ul>
                </nav>
            </div>

            <!--social icons -->
            <div class="social-icons">
                <ul>
                    <li>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>


    <!-- Blog Section  -->
    <section id="blog">
        <!--Heading-->
        <div class="blog-heading">
            <span>My Recent Posts</span>
            <h3>My Blog</h3>
        </div>

        <!--Blog-container-->
        <div class="blog-container">

            <!--box-1-->
            <div class="blog-box">
                <!--img-->
                <div class="blog-img">
                    <img src="/img/webDevlop.jpg" alt="">
                </div>

                <!--text-->
                <div class="blog-text">
                    <span>18 july 2021 / web Design</span>
                    <a href="#" class="blog-title">What Has Happend of All of the web Design Ideas?</a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, impedit itaque? Reprehenderit
                        dignissimos distinctio quisquam vero eveniet suscipit voluptatibus modi?</p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <!--box-2-->
            <div class="blog-box">
                <!--img-->
                <div class="blog-img">
                    <img src="/img/webdevlop2.jpg" alt="">
                </div>

                <!--text-->
                <div class="blog-text">
                    <span>18 july 2021 / web Design</span>
                    <a href="#" class="blog-title">What Has Happend of All of the web Design Ideas?</a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, impedit itaque? Reprehenderit
                        dignissimos distinctio quisquam vero eveniet suscipit voluptatibus modi?</p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <!--box-3-->
            <div class="blog-box">
                <!--img-->
                <div class="blog-img">
                    <img src="/img/webdevlop2.jpg" alt="">
                </div>

                <!--text-->
                <div class="blog-text">
                    <span>18 july 2021 / web Design</span>
                    <a href="#" class="blog-title">What Has Happend of All of the web Design Ideas?</a>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, impedit itaque? Reprehenderit
                        dignissimos distinctio quisquam vero eveniet suscipit voluptatibus modi?</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>






    </section>

</body>

</html>