<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS UPDATE</title>
    <link rel="stylesheet" href="/css/style.css">

    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

</head>

<body>

    <!--header-->
    <header>
        <div class="navigation-container">
            <div class="top-head">
                <div class="web-name">
                    <h1>TECHUPDATE</h1>
                </div>

                <div class="ham-btn">
                    <span>
                        <i class="fas fa-bars"></i>
                    </span>
                </div>

                <div class="times-btn">
                    <span>
                        <i class="fas fa-times"></i>
                    </span>
                </div>
            </div>


            <!--nav bar-->

            <div class="nav-bar" id="nav-bar">
                <nav>
                    <ul>
                        <li><a href="#">home</a></li>
                        <li><a href="/currentNews">current news</a></li>
                        <li><a href="/Blogs">Blogs</a></li>
                        <li><a href="#">catagory</a></li>
                    </ul>
                </nav>
            </div>

            <!--social icons -->
            <div class="social-icons">
                <ul>
                    <li>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <section class="banner">
        <div class="banner-main-content">
            <h2>GET THE WORLD'S LATEST TECH NEWS</h2>
            <h3>World's Leading Tech News Portal</h3>

            <button>
                <a href="#">Know More</a>
            </button>

            <div class="current-news-head">
                <h3>Apple Glasses: What we expect, what we think we are <span>by scott stein</span></h3>

                <h3>What's it's like to have Elon musk's old phone number<span>by abrar al-heeti</span></h3>

                <h3>Watch the exact moment chris pratt accidentally deletes 51,000 emails<span>by goel
                        fashingbauer</span></h3>

                <h3>Richard Branson's Virgin Orbit will launch a rocket from midair sunday <span>by eric mack</span>
                </h3>
            </div>
        </div>

        <div class="banner-sub-content">
            <div class="hot-topic">
                <img src="/img/banner-news-1.jpg" alt="">

                <div class="hot-topic-content">
                    <h2>Twitter's New Retweet with comment counter is Now Availible on Android & web</h2>

                    <h3>New Topic 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim impedit nisi rem quasi modi ab distinctio? Nam magnam sequi corrupti.</p>
                    <a href="#">Read More</a>

                </div>
            </div>

            <div class="hot-topic">
                <img src="/img/banner-news-2.jpg" alt="">

                <div class="hot-topic-content">
                    <h2>Twitter's New Retweet with comment counter is Now Availible on Android & web</h2>

                    <h3>New Topic 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim impedit nisi rem quasi modi ab distinctio? Nam magnam sequi corrupti.</p>
                    <a href="#">Read More</a>

                </div>
            </div>

            <div class="hot-topic">
                <img src="/img/banner-news-3.jpg" alt="">

                <div class="hot-topic-content">
                    <h2>Twitter's New Retweet with comment counter is Now Availible on Android & web</h2>

                    <h3>New Topic 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim impedit nisi rem quasi modi ab distinctio? Nam magnam sequi corrupti.</p>
                    <a href="#">Read More</a>

                </div>
            </div>

            <div class="hot-topic">
                <img src="/img/banner-news-4.jpg" alt="">

                <div class="hot-topic-content">
                    <h2>Twitter's New Retweet with comment counter is Now Availible on Android & web</h2>

                    <h3>New Topic 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim impedit nisi rem quasi modi ab distinctio? Nam magnam sequi corrupti.</p>
                    <a href="#">Read More</a>

                </div>
            </div>
        </div>

    </section>
    <hr>

    <main>
        <section class="main-container-left">
            <h2>Top Stories</h2>
            <div class="container-top-left">
                <article>
                    <img src="/img/top-left.jpg" alt="">

                    <div>
                        <h3>Best used cars under $20,000 for families</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, eaque commodi! At sed nisi aspernatur esse, officia reiciendis et quo?</p>
                        <a href="#">Read more <span>>></span></a>
                        
                    </div>
                </article>
            </div>

            <div class="container-bottom-left">
                <article>
                    <img src="/img/bottom-left-1.jpg" alt="">
                    <div>
                        <h3>Best smart speakers for the year</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nostrum blanditiis, saepe amet sint veritatis soluta voluptate repellat at odio.</p>
                        <a href="#">Read more <span>>></span></a>
                    </div>
                </article>

                <article>
                    <img src="/img/bottom-left-2.jpg" alt="">
                    <div>
                        <h3>iPad Pro reviewed: Has the ipad become my main computer now</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nostrum blanditiis, saepe amet sint veritatis soluta voluptate repellat at odio.</p>
                        <a href="#">Read more <span>>></span></a>
                    </div>
                </article>
            </div>
        </section>

        <section class="main-container-right">
            <h2>Latest Stories</h2>

            <article>
                <h4>just in</h4>
                <div>
                    <h2>Here's how to track your stimulus check with the IRS Get My Payment Portal</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ex.</p>

                    <a href="#">Read More<span>>></span></a>
                </div>
                <img src="/img/right-1.jpg" alt="">
            </article>

            <article>
                <h4>just in</h4>
                <div>
                    <h2>The Best Outdoor Games to play with your family</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ex.</p>

                    <a href="#">Read More<span>>></span></a>
                </div>
                <img src="/img/right-2.jpg" alt="">
            </article>

            <article>
                <h4>just in</h4>
                <div>
                    <h2>Why Walk? Check out the best electric scooters and e-bikes for 2022</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ex.</p>

                    <a href="#">Read More<span>>></span></a>
                </div>
                <img src="/img/right-3.jpg" alt="">
            </article>

            <article>
                <h4>just in</h4>
                <div>
                    <h2>Disneyland paris will stream its Lion King Stage show Friday night</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ex.</p>

                    <a href="#">Read More<span>>></span></a>
                </div>
                <img src="/img/right-4.jpg" alt="">
            </article>

            <article>
                <h4>just in</h4>
                <div>
                    <h2>Looking at a phone's lock screen also requires a warrent,judge rules</h2>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, ex.</p>

                    <a href="#">Read More<span>>></span></a>
                </div>
                <img src="/img/right-5.jpg" alt="">
            </article>
        </section>
    </main>

    <footer>
        <div class="footer-container">
            <div class="footer-left">
                <h2>TECHUPDATE</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quasi magnam similique odit eaque amet officia magni tenetur ab. Sequi vitae culpa quod suscipit laudantium.</p>
            </div>

            <div class="footer-right">
                <h2>Newletter</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, temporibus!</p>

                <div>
                    <input type="text" placeholder= "Email Address">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
        </div>

        

        <p>Copyright &copy; 2022 All rights reserved</p>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>









